<%= form_with(model: [@product, Comment.new] ) do |form| %>
  <h2>Add Comments</h2>
  <%= form.label :comment %>
  <%= form.text_area :comment, placeholder: "Your comments here...", require: true %>
  <%= form.submit %>
<% end %>