<section class="product">
  <% cache @product do %>
    <section class="product-info">
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
    </section>
  <% end %>
  <div>
    <%= render "comments/form", product: @product %>
  </div>
</section>
